RewriteEngine On
RewriteRule ^(.*)$ public/$1 [QSA,L]

<FilesMatch "world\.sql|Db\.php|autoload\.php|Config\.php|Autoloader\.php">
    Deny from all
</FilesMatch>

<FilesMatch "\.(jpg|jpeg|png|gif|css|js)$">
    Allow from all
</FilesMatch>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/xml application/json
</IfModule>

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "https://noiconcept.com"
  Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE"
  Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
</IfModule>
